In [24]:
import pandas as pd
import numpy as np

In [25]:
old = pd.read_csv('original_sizes.csv',header=None)
new = pd.read_csv('new_sizes.csv',header=None)

In [26]:
old

            0                                                  1
0    60938532   /Users/ktruong/data/AllTheBacteria/osfstorage...
1    79967148   /Users/ktruong/data/AllTheBacteria/osfstorage...
2    82634120   /Users/ktruong/data/AllTheBacteria/osfstorage...
3    84641464   /Users/ktruong/data/AllTheBacteria/osfstorage...
4    75078960   /Users/ktruong/data/AllTheBacteria/osfstorage...
..        ...                                                ...
157  80889852   /Users/ktruong/data/AllTheBacteria/osfstorage...
158   1426888   /Users/ktruong/data/AllTheBacteria/osfstorage...
159  81938108   /Users/ktruong/data/AllTheBacteria/osfstorage...
160  99430616   /Users/ktruong/data/AllTheBacteria/osfstorage...
161  95568528   /Users/ktruong/data/AllTheBacteria/osfstorage...

[162 rows x 2 columns]

In [27]:
new

            0                                1
0    69141764   salmonella_enterica_000.tar.xz
1    46200212   salmonella_enterica_001.tar.xz
2    44476252   salmonella_enterica_002.tar.xz
3    35369128   salmonella_enterica_003.tar.xz
4    51809240   salmonella_enterica_004.tar.xz
..        ...                              ...
157  28483836   salmonella_enterica_157.tar.xz
158  24898812   salmonella_enterica_158.tar.xz
159  32741816   salmonella_enterica_159.tar.xz
160  33591052   salmonella_enterica_160.tar.xz
161   8521360   salmonella_enterica_161.tar.xz

[162 rows x 2 columns]

In [33]:
tsize_old = old[0].sum()

In [34]:
tsize_new= new[0].sum()

In [39]:
tsize_old/1000000000,tsize_new/1000000000

(12.470418172, 6.808108948)

In [40]:
tsize_old/tsize_new

1.8317007361733542