In [26]:
import pandas as pd
import numpy as np

In [19]:
bakrep_metadata = pd.read_csv("data/bakrep-export_18112024.tsv",sep='\t', low_memory=False, index_col="#id")

In [20]:
[tup for tup in zip(bakrep_metadata.columns, bakrep_metadata.dtypes)]

[('bakta.genome.genus', dtype('O')),
 ('bakta.genome.species', dtype('O')),
 ('bakta.genome.strain', dtype('O')),
 ('bakta.stats.no_sequences', dtype('float64')),
 ('bakta.stats.size', dtype('float64')),
 ('bakta.stats.gc', dtype('float64')),
 ('bakta.stats.n_ratio', dtype('float64')),
 ('bakta.stats.n50', dtype('float64')),
 ('bakta.stats.coding_ratio', dtype('float64')),
 ('gtdbtk.classification.domain', dtype('O')),
 ('gtdbtk.classification.phylum', dtype('O')),
 ('gtdbtk.classification.class', dtype('O')),
 ('gtdbtk.classification.order', dtype('O')),
 ('gtdbtk.classification.family', dtype('O')),
 ('gtdbtk.classification.genus', dtype('O')),
 ('gtdbtk.classification.species', dtype('O')),
 ('mlst.sequence_type', dtype('O')),
 ('checkm2.quality.completeness', dtype('float64')),
 ('checkm2.quality.contamination', dtype('float64')),
 ('metadata.accession', dtype('O')),
 ('metadata.collected_by', dtype('O')),
 ('metadata.collection_date', dtype('O')),
 ('metadata.country', dtype('O')),
 ('metadata.host', dtype('O')),
 ('metadata.host_sex', dtype('O')),
 ('metadata.host_status', dtype('O')),
 ('metadata.host_tax_id', dtype('float64')),
 ('metadata.instrument_model', dtype('O')),
 ('metadata.instrument_platform', dtype('O')),
 ('metadata.isolate', dtype('O')),
 ('metadata.isolation_source', dtype('O')),
 ('metadata.location', dtype('O')),
 ('metadata.project_name', dtype('O')),
 ('metadata.sample_alias', dtype('O')),
 ('metadata.secondary_sample_accession', dtype('O')),
 ('metadata.secondary_study_accession', dtype('O')),
 ('metadata.serotype', dtype('O')),
 ('metadata.serovar', dtype('O')),
 ('metadata.strain', dtype('O')),
 ('metadata.study_accession', dtype('O')),
 ('metadata.submission_accession', dtype('O'))]

In [21]:
bakrep_metadata[["metadata.accession"]]

             metadata.accession
#id
SAMD00000344       SAMD00000344
SAMD00000345       SAMD00000345
SAMD00000355       SAMD00000355
SAMD00000550       SAMD00000550
SAMD00000552       SAMD00000552
...                         ...
SAMN10405967       SAMN10405967
SAMN10405968       SAMN10405968
SAMN10407504       SAMN10407504
SAMN10407505       SAMN10407505
SAMN10407507       SAMN10407507

[661402 rows x 1 columns]

In [22]:
est_card = pd.read_csv('/Users/ktruong/data/661k/est_card_661k.csv', header = None, names= ['id','card'], index_col= 'id' )

In [23]:
est_card

                    card
id
SAMN02844126  4722564.00
SAMN04558116  1589918.00
SAMEA2068521  6482382.50
SAMN09281158  2937214.75
SAMN09843229  4991481.50
...                  ...
SAMEA3481361  2161193.00
SAMN09650548  5065128.50
SAMN09463236  5239581.00
SAMEA2534426  4334674.00
SAMEA1016179  4344332.00

[661405 rows x 1 columns]

In [37]:
# missing 3 genomes
set(est_card.index.values) - set(bakrep_metadata.index.values)

{'SAMD00080514', 'SAMD00080519', 'SAMD00080520'}

In [44]:
species_groups =  bakrep_metadata.groupby(['gtdbtk.classification.species']).groups

In [45]:
species_groups

{'1-14-0-20-39-49 sp002787635': ['SAMN07622136'], '1-14-0-20-46-22 sp002796245': ['SAMN07622204'], '1162T-S-0a-05 sp000964245': ['SAMN02746023'], '14-2 sp000403255': ['SAMN01730990'], '14-2 sp000403315': ['SAMN01730994'], '14-2 sp000403845': ['SAMN01730989'], '1XD8-76 sp910573755': ['SAMEA80359918'], '2-02-FULL-42-43 sp002793195': ['SAMN07622190'], '2013Ark19i sp001460935': ['SAMEA2826832', 'SAMEA2826833', 'SAMEA3903147'], '2013Ark19i sp900078745': ['SAMEA2172052', 'SAMEA2826834', 'SAMEA2826837', 'SAMEA2826838', 'SAMEA2826839', 'SAMEA2826840', 'SAMEA2826841', 'SAMEA3903146'], '49-20 sp002417685': ['SAMN06453970'], '79-D21 sp002432945': ['SAMN06453974'], 'A37T11 sp900109895': ['SAMN05216436'], 'AAA044-D11 sp000485495': ['SAMN02194296'], 'AAA164-E04 sp000383715': ['SAMN02441633'], 'AAA240-E13 sp000504605': ['SAMN02597171'], 'AAA240-E13 sp000504625': ['SAMN02597172'], 'AAA240-E13 sp000513055': ['SAMN02597280'], 'AAA240-E13 sp000513075': ['SAMN02597281'], 'AAA240-E13 sp003209225': ['SAMN08886570'], 'AAA240-E13 sp003211695': ['SAMN08886571'], 'AAA300-D14 sp002715065': ['SAMN02441642'], 'AAA536-G10 sp000383115': ['SAMN02441297'], 'AAA536-G10 sp000384615': ['SAMN02440508'], 'AAA536-G10 sp000421325': ['SAMN02441242'], 'AAA536-G10 sp003278095': ['SAMN08886286'], 'AAA536-G10 sp003282145': ['SAMN08886084'], 'AAA536-G10 sp003282435': ['SAMN08886065'], 'AAA536-G10 sp003282885': ['SAMN08886042'], 'AAA536-G10 sp003283875': ['SAMN08886004'], 'AAA536-G10 sp003284565': ['SAMN08886015'], 'AB-137-C09 sp000379225': ['SAMN02256461', 'SAMN02745038'], 'AEGEAN-183 sp012965075': ['SAMN02744673', 'SAMN02745094', 'SAMN02745522'], 'AG-337-I02 sp003282155': ['SAMN08886083'], 'AG-337-I02 sp902554185': ['SAMN08886379'], 'AG-339-G14 sp003282105': ['SAMN08886086'], 'AG-363-A16 sp003280345': ['SAMN08886234'], 'AG-363-B04 sp003278465': ['SAMN08886235'], 'AG-363-J23 sp003280095': ['SAMN08886259'], 'AG-363-J23 sp003280245': ['SAMN08886246'], 'AG-363-K07 sp003211755': ['SAMN08886563'], 'AG-363-K07 sp003278175': ['SAMN08886264'], 'AG-363-K07 sp003278225': ['SAMN08886261'], 'AG-363-K07 sp003280225': ['SAMN08886247'], 'AG-363-K07 sp003280295': ['SAMN08886241'], 'AG-363-N16 sp003278305': ['SAMN08886253'], 'AG-363-N16 sp003280135': ['SAMN08886255'], 'AG-363-N20 sp003280105': ['SAMN08886256'], 'AG-363-O06 sp003280085': ['SAMN08886257'], 'AG-363-O15 sp003278255': ['SAMN08886258'], 'AG-363-P08 sp003278195': ['SAMN08886263'], 'AG-363-P08 sp003278365': ['SAMN08886251'], 'AG-363-P08 sp003280185': ['SAMN08886248'], 'AG-409-A19 sp003216155': ['SAMN08886344'], 'AG-409-B05 sp003216075': ['SAMN08886347'], 'AG-409-B13 sp003216035': ['SAMN08886349'], 'AG-409-D09 sp003215935': ['SAMN08886353'], 'AG-409-G20 sp003215775': ['SAMN08886359'], 'AG-409-I11 sp003215725': ['SAMN08886360'], 'AG-409-J16 sp003215655': ['SAMN08886364'], 'AG-409-J19 sp003215635': ['SAMN08886365'], 'AG-409-L14 sp003215545': ['SAMN08886361'], 'AG-409-L18 sp003215535': ['SAMN08886369'], 'AG-409-M05 sp003215435': ['SAMN08886372'], 'AG-409-N21 sp003215415': ['SAMN08886373'], 'AG-409-O23 sp003215355': ['SAMN08886374'], 'AG-409-P01 sp003215335': ['SAMN08886375'], 'AG-409-P03 sp003215295': ['SAMN08886376'], 'AG-414-E02 sp003214615': ['SAMN08886399'], 'AG-414-E02 sp016764285': ['SAMN02745502'], 'AG-422-B15 sp003211835': ['SAMN08886558'], 'AG-422-B15 sp003213515': ['SAMN08886436'], 'AG-422-B15 sp003213715': ['SAMN08886428'], 'AG-422-B15 sp003282175': ['SAMN08886082'], 'AG-422-B15 sp003282485': ['SAMN08886062'], 'AG-426-I14 sp003210055': ['SAMN08886459'], 'AG-426-I14 sp003213175': ['SAMN08886454'], 'AG-426-M11 sp003213095': ['SAMN08886462', 'SAMN08886471'], 'AG-430-B22 sp003209955': ['SAMN08886470'], 'AG-430-B22 sp003212795': ['SAMN08886488'], 'AG-430-B22 sp902533755': ['SAMN08886105'], 'AG-432-D11 sp003212885': ['SAMN08886482'], 'AG-463-P14 sp003209275': ['SAMN08886568'], 'ATCC-39006 sp002847015': ['SAMEA1964939'], 'ATWF01 sp000421105': ['SAMN02441578'], 'ATZT02 sp000428345': ['SAMN02440606'], 'AU392 sp003443635': ['SAMN10134658'], 'Abiotrophia defectiva': ['SAMD00012605', 'SAMN00008801'], 'Abiotrophia sp001815865': ['SAMN03436211'], 'Absicoccus sp000434355': ['SAMEA1483370'], 'Acaricomes phytoseiuli': ['SAMN02194524'], 'Acetanaerobacterium elongatum': ['SAMN05192585'], 'Acetatifactor intestinalis': ['SAMEA3545291', 'SAMN04461303'], 'Acetatifactor muris': ['SAMEA3725555'], 'Acetatifactor sp900066565': ['SAMD00113756', 'SAMEA3539476', 'SAMEA3539482', 'SAMEA3545339'], 'Acetitomaculum ruminis': ['SAMN05216249'], 'Acetivibrio clariflavus': ['SAMN00262672', 'SAMN00262676', 'SAMN00262678', 'SAMN00262687', 'SAMN02261428', 'SAMN02584913', 'SAMN05518767', 'SAMN05518790', 'SAMN05519245'], 'Acetoanaerobium noterae': ['SAMN02745120'], 'Acetoanaerobium pronyense': ['SAMN06229904'], 'Acetobacter aceti': ['SAMN00773124', 'SAMN02256453'], ...}